
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}



.trove__mp_img{
    height: 600px;
    width: 600px;
    position: absolute;
    pointer-events: none;
    
    
}

.Swipe-right{
    height: 600px;
    float: right;
    width: 100px;
    opacity: 0.33;
    background-color: green;
    color: black;
    
    
    
    
    
}
.Swipe-Left{
    height: 600px;
    width: 100px;
    float: left;
    opacity: 0.33;
    background-color: red;
    color: black;
    
    
    
}
.SongName{
    height: 100;
    color: black;
    background-color: purple;
    width: 100%;
    text-align: center;
    
    
}
.SongDuration{
    height: 150;
    color: black;
    background-color: red;
    
    width: 600;
    
    
    bottom: 0px;
    

}




