.trove__mp_img{
    height: 200px;
    width: 400px;
    
}

.Swipe-right{
    height: 200px;
    float: right;
    width: 100px;
}
.Swipe-Left{
    height: 200px;
    width: 100px;
    float: left;
}